.aboutUsMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.heroSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroImgContainer {
  object-fit: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;

  .heroImg {
    width: 100%;
    height: 100%;
  }
}

.aboutdescription {
  width: 100%;
  height: 250px;
  display: flex;
  padding: 47px 127.5px 47px 128.5px;
  justify-content: center;
  align-items: center;
  background: #804bf2;

  & h1 {
    width: 40%;
    color: #fff;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    gap: 10px;
    /* line-height: 25px; */

    .aboutem {
      color: #f2ae30;
      font-family: Montserrat;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
    }
  }
  .heroline {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & span {
    width: 40%;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
  }
}
.aboutstatements {
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  position: relative;
  overflow: hidden;

  .aboutcard {
    width: 33.099%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 20px 40px;
    background: rgba(128, 75, 242, 0.2);
    gap: 10px;

    & h1 {
      color: #804bf2;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }

    & p {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px;
    }

    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px;
    }
  }

  .innertext {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .statementImg {
    width: 100%;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

.aboutthirdsection {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 10px;
}

.eclipse {
  width: 100%;
  height: 144px;
  flex-shrink: 0;
  bottom: -30px;

  position: absolute;
  clip-path: ellipse(60% 90% at 50% 90%);
  background-color: #fff;
}

.leftthirdsection {
  width: 35%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px;

  .leftcard {
    width: 48%;
    height: auto;
    object-fit: contain;

    & img {
      width: 180px;
      height: 300px;
    }
  }
}

.rightthirdsection {
  width: 60%;
  height: auto;
  padding: 100px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h1 {
    color: #1e1e1e;
    font-family: Sora;
    font-size: 43.684px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.953px;

    .emsucces {
      color: var(--purple-primary-color, #804bf2);
      font-family: Sora;
      font-size: 43.684px;
      font-style: normal;
      font-weight: 700;
      line-height: 67.953px;
    }
  }
  .aboutstudytext {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & p {
      color: #1e1e1e;
      font-family: Sora;
      font-size: 19.415px;
      font-style: normal;
      font-weight: 400;
      line-height: 36.403px;
    }

    & span {
      color: #1e1e1e;
      font-family: Sora;
      font-size: 19.415px;
      font-style: normal;
      font-weight: 400;
      line-height: 36.403px;
    }
  }
}

.aboutcircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f2edfe;
  position: absolute;
  bottom: -200px;
  left: -190px;

  .aboutinnercircle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    top: 30px;
    left: 30px;
    background: white;
  }
}

.aboutpurplesmallcircle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #804bf2;
  position: absolute;
  top: 200px;
  left: -40px;
}

.aboutpurplesmallcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #804bf2;
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.aboutgoldsmallcircle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f2ae30;
  position: absolute;
  bottom: -120px;
  left: 80px;
}
.aboutcircle1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #804bf2;
  position: absolute;
  bottom: -50px;
  right: -190px;

  .aboutinnercircle1 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: white;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

.bottomheader {
  width: 68%;
  height: 250px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & h1 {
    color: #804bf2;
    text-align: center;
    font-family: Sora;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 55px;

    & em {
      color: #1e1e1e;
      font-family: Sora;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 55px;
    }
  }

  & span {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px; /* 175% */
  }
}

.teamcarousel {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;

  .teamdiv {
    width: 90%;
    height: auto;
    /* background-color: #f2ae30; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    & img {
      width: 100%;
      height: 380px;
    }
    .role {
      width: 100%;
      height: 150px;
      position: absolute;
      bottom: 0;
      border-start-start-radius: 19.771px;
      border-start-end-radius: 19.771px;
      background: #d9d9d9;
      display: flex;
      align-items: flex-end;
    }

    .abouticons {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
    }

    .aboutname {
      width: 80%;
      padding: 15px;
      border-radius: 19.771px;
      background: #804bf2;
      position: absolute;
      bottom: 23%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 10%;
      z-index: 1;

      & h1 {
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        line-height: 29.657px; /* 136.364% */
      }

      & span {
        color: #fff;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 29.657px; /* 166.667% */
      }
    }
  }
}

.aboutmaiinicon {
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid #1e1e1e;
  padding: 3px;
  cursor: pointer;
  transform: scale(1);
}

.aboutmaiinicon :hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.smartpreparation {
  margin-top: 58px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1440px;
  margin-inline: auto;

  .smartheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px; /* 93.75% */
    }

    & p {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 45px; /* 150% */
    }
  }
}

.carddata {
  display: flex;
  flex-wrap: wrap;
  width: 81%;
  gap: 28px;
  justify-content: space-between;
}

.card {
  position: relative;
  display: inline-flex;
  width: 506px;
  max-width: 45%;
  height: 212px;
  justify-content: center;
  align-items: center;
  background-color: #f2ae304d;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;

  & p {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 38.3px;
    width: 75%;
    margin: 0 auto;
    transition: color 0.3s ease-in-out;
  }
}
.card:hover p {
  color: #fff;
}
.card:hover {
  background-color: #804bf2;

  .innerpurplecircle {
    background-color: #f2ae30;
    transition: all 0.3s ease-in-out;
  }
}
.whitecircle {
  position: absolute;
  width: 103.7px;
  height: 103.7px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -60.85px;

  .checkicon {
    font-size: 40px;
    color: #fff;
  }
}
.innerpurplecircle {
  width: 75.792px;
  height: 75.792px;
  flex-shrink: 0;
  background-color: #804bf2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .carddata {
    width: 87%;
  }
  .card {
    width: 100%;
    max-width: 100%;
  }
  .teamcarousel {
    width: 100%;
    .teamdiv {
      width: 90%;
      .aboutname {
        width: 90%;
        padding: 15px;
        border-radius: 19.771px;
        background: #804bf2;
        left: 5%;
        z-index: 1;

        & h1 {
          font-size: 18px;
        }

        & span {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .aboutcircle {
    display: none;
  }
  .aboutinnercircle {
    display: none;
  }
  .aboutcircle1 {
    display: none;
  }
  .aboutinnercircle1 {
    display: none;
  }
  .aboutpurplesmallcircle1 {
    display: none;
  }
  .aboutpurplesmallcircle {
    display: none;
  }
  .aboutgoldsmallcircle1 {
    display: none;
  }
  .heroImgContainer {
    object-fit: contain;
    width: 100%;
    height: 100px;
  }

  .aboutdescription {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #804bf2;

    & h1 {
      width: 100%;
      font-size: 30px;
      text-align: center;

      .aboutem {
        width: 100%;
        font-size: 30px;
      }
    }
    .heroline {
      display: none;
    }
    & span {
      width: 40%;
      width: 100%;
      text-align: center;
      font-size: 17px;
    }
  }

  .aboutstatements {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
    padding-bottom: 50px;
    .aboutcard {
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      width: 100%;

      & h1 {
        color: #804bf2;
        width: 100%;
        font-size: 20px;
        text-align: center;
      }

      & p {
        color: #1e1e1e;
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }

      & span {
        color: #1e1e1e;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }
    }

    .innertext {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .statementImg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    & img {
      width: 180px;
      height: 180px;
    }
  }

  .eclipse {
    width: 100%;
    height: 144px;
    flex-shrink: 0;
    bottom: -40px;

    position: absolute;
    clip-path: ellipse(80% 90% at 50% 90%);
    background-color: #fff;
  }

  .aboutthirdsection {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .leftthirdsection {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .leftcard {
      width: 40%;
      height: auto;
      object-fit: contain;

      & img {
        width: 140px;
        height: 220px;
      }
    }
  }

  .rightthirdsection {
    width: 100%;
    min-height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      color: #1e1e1e;
      text-align: center;
      font-family: Sora;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;

      .emsucces {
        color: var(--purple-primary-color, #804bf2);
        font-family: Sora;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
      }
    }
    .aboutstudytext {
      min-height: 50vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      & p {
        text-align: center;
        color: #1e1e1e;
        font-family: Sora;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
      }

      & span {
        text-align: center;
        color: #1e1e1e;
        font-family: Sora;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 36.403px;
      }
    }
  }
  .bottomheader {
    width: 68%;
    width: 100%;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & h1 {
      color: #804bf2;
      text-align: center;
      font-family: Sora;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      line-height: 55px;

      & em {
        color: #1e1e1e;
        font-family: Sora;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: 55px;
      }
    }

    & span {
      color: #1e1e1e;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px;
    }
  }

  .teamcarousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    .teamdiv {
      width: 110px;
      height: 170px;
      display: flex;
      object-fit: contain;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .role {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        border-start-start-radius: 19.771px;
        border-start-end-radius: 19.771px;
        background: #d9d9d9;
        display: flex;
        align-items: flex-end;
      }

      .abouticons {
        width: 100%;
        height: 30px;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
      }

      .aboutmaiinicon {
        padding: 1px;
        font-size: 12px;
        border-radius: 50%;
        border: 1px solid #1e1e1e;
      }

      .aboutname {
        width: 90%;
        padding: 10px;
        height: 20%;
        border-radius: 10px;
        background: #804bf2;
        position: absolute;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 5%;
        z-index: 1;

        & h1 {
          color: #fff;
          font-family: Montserrat;
          font-size: 8px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: 10px;
        }

        & span {
          color: #fff;
          font-family: Montserrat;
          font-size: 6px;
          font-style: normal;
          font-weight: 400;
          line-height: 10px;
          text-align: center;
        }
      }
    }
  }
  .smartpreparation {
    margin-top: 20px;
    & .smartheader {
      & h1 {
        font-size: 32px;
        line-height: 40px;
      }
      & p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .card {
    width: 90%;
    margin: 0 auto;
    height: max-content;
    padding: 28px 0px;

    & h1 {
      font-size: 20px;
    }
    & p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .whitecircle {
    width: 60px;
    height: 60px;
    left: -30px;
  }

  .innerpurplecircle {
    height: 45px;
    width: 45px;
  }
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
  .aboutcircle {
    display: none;
  }
  .aboutinnercircle {
    display: none;
  }
  .aboutcircle1 {
    display: none;
  }
  .aboutinnercircle1 {
    display: none;
  }
  .aboutpurplesmallcircle1 {
    display: none;
  }
  .aboutpurplesmallcircle {
    display: none;
  }
  .aboutgoldsmallcircle1 {
    display: none;
  }
  .aboutdescription {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #804bf2;

    & h1 {
      width: 100%;
      font-size: 38px;
      text-align: center;

      .aboutem {
        width: 100%;
        font-size: 38px;
      }
    }

    & span {
      width: 40%;
      width: 100%;
      text-align: center;
      font-size: 23px;
    }
  }

  .aboutstatements {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
    padding-bottom: 90px;

    .aboutcard {
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;

      & h1 {
        color: #804bf2;
        width: 100%;
        font-size: 40px;
        text-align: center;
      }

      & p {
        color: #1e1e1e;
        text-align: center;
        width: 100%;
        font-weight: 600;
        text-align: center;
        font-size: 25px;
      }

      & span {
        color: #1e1e1e;
        width: 100%;
        text-align: center;
        font-weight: 600;
        text-align: center;
        font-size: 25px;
      }
    }

    .innertext {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .statementImg {
    width: 100%;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;

    & img {
      width: 250px;
      height: 250px;
    }
  }

  .eclipse {
    width: 100%;
    height: 144px;
    flex-shrink: 0;
    bottom: -17px;

    position: absolute;
    clip-path: ellipse(80% 90% at 50% 90%);
    background-color: #fff;
  }
  .aboutthirdsection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
  }

  .leftthirdsection {
    width: 40%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    .leftcard {
      width: 48%;
      height: auto;
      object-fit: contain;

      & img {
        width: 130px;
        height: 300px;
      }
    }
  }

  .rightthirdsection {
    width: 60%;
    height: 700px;
    padding: 20px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h1 {
      color: #1e1e1e;
      font-family: Sora;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 67.953px;

      .emsucces {
        color: var(--purple-primary-color, #804bf2);
        font-family: Sora;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 67.953px;
      }
    }
    .aboutstudytext {
      display: flex;
      flex-direction: column;
      gap: 40px;

      & p {
        color: #1e1e1e;
        font-family: Sora;
        font-size: 19.415px;
        font-style: normal;
        font-weight: 400;
        line-height: 36.403px;
      }

      & span {
        color: #1e1e1e;
        font-family: Sora;
        font-size: 19.415px;
        font-style: normal;
        font-weight: 400;
        line-height: 36.403px;
      }
    }
  }

  .teamcarousel {
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

    .teamdiv {
      width: 90%;
      height: 500px;
      /* background-color: #f2ae30; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      & img {
        width: 100%;
        height: 300px;
      }
      .role {
        width: 100%;
        height: 170px;
        position: absolute;
        bottom: 0;
        border-start-start-radius: 19.771px;
        border-start-end-radius: 19.771px;
        background: #d9d9d9;
        display: flex;
        align-items: center;
      }

      .abouticons {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        gap: 5px;
      }

      .aboutmaiinicon {
        font-size: 20px;
        border-radius: 50%;
        border: 2px solid black;
        padding: 1px;
      }

      .aboutname {
        width: 80%;
        height: 60px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 13.771px;
        background: #804bf2;
        position: absolute;
        bottom: 26%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 10%;
        z-index: 1;

        & h1 {
          color: #fff;
          font-family: Montserrat;
          font-size: 12px;
          text-align: center;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: 20.657px; /* 136.364% */
        }

        & span {
          text-align: center;
          color: #fff;
          font-family: Montserrat;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          /* 166.667% */
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .leftthirdsection {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .leftcard {
      width: 40%;
      height: auto;
      object-fit: contain;

      & img {
        width: 120px;
        height: 200px;
      }
    }
  }

  .teamcarousel {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    .teamdiv {
      width: 95px;
      height: 170px;
      display: flex;
      object-fit: contain;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .role {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 0;
        border-start-start-radius: 19.771px;
        border-start-end-radius: 19.771px;
        background: #d9d9d9;
        display: flex;
        align-items: flex-end;
      }

      .abouticons {
        width: 100%;
        height: 30px;
        padding-left: 5px;
        padding-right: 10px;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
      }

      .aboutmaiinicon {
        padding: 1px;
        font-size: 12px;
        border-radius: 50%;
        border: 1px solid #1e1e1e;
      }

      .aboutname {
        width: 90%;
        padding: 10px;
        height: 20%;
        border-radius: 10px;
        background: #804bf2;
        position: absolute;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 5%;
        z-index: 1;

        & h1 {
          color: #fff;
          font-family: Montserrat;
          font-size: 8px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: 10px;
        }

        & span {
          color: #fff;
          font-family: Montserrat;
          font-size: 6px;
          font-style: normal;
          font-weight: 400;
          line-height: 10px;
          text-align: center;
        }
      }
    }
  }

  .aboutstatements {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
    padding-bottom: 70px;
    .aboutcard {
      width: 100%;
      height: 640px;
      display: flex;
      flex-direction: column;
      width: 100%;

      & h1 {
        color: #804bf2;
        width: 100%;
        font-size: 20px;
        text-align: center;
      }

      & p {
        color: #1e1e1e;
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }

      & span {
        color: #1e1e1e;
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
      }
    }

    .innertext {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
